body {
    background-color: #f9f6ef;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    letter-spacing: -0.3;
    color: #454545;
}

a {
    text-decoration: none;
    color: inherit
}

.content {
    left: 11%;
    top: 10%;
    right: 7%;
    position: absolute;
    margin-top: 50px;
}

#wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    position: fixed;
}

section {
    padding-bottom: 50px;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

section .img{
    float: right;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

section h1{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
    letter-spacing: 8px;
    font-weight: 900;
    font-size: 55px;
    line-height: 1.1;
    font-style: italic;
}

section h5{
    font-weight: 500;
    letter-spacing: 2.8px;
    font-size: 18px;
    line-height: 1.4;
    max-width: 600px;
    width: 80%;
    color: #8fd770;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
}

section h3{
    text-align: center;
    font-weight: 200;
}

section h4{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 560px;
    width: 80%
}

/** HEADER **/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-top: 50px;
    z-index: 1000;
}

header.sticky {
    background: #f9f6ef;
    padding-top: 20px;
    padding-bottom: 20px;
}

/**
header .logo {
    position: relative;
    font-weight: 900;
    color: #000000;
    font-size: 50px;
    text-transform: uppercase;
    transform: 0.6s;
}
**/

/** TEXT **/

h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2.8px;
    font-weight: 800;
    font-size: 45px;
    line-height: 1;
    width: 80%;
    padding-bottom: 12px;
}

h2 {
    font-weight: 600;
    letter-spacing: 2.8px;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 15px;
    max-width: 600px;
    width: 80%;
    color: #9bc797
}

h3 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 560px;
    width: 90%
}

p {
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    max-width: 600px
}

/** HIGHLIGHT TEXT EFFECT **/

highlight {
    background: linear-gradient(
        to bottom,
        transparent 60%,
        #beebba 50%
    );
}

highlight:hover{
    background: linear-gradient(
        to bottom,
        transparent 60%,
        #d6eecc 50%
    );
}

/** IMAGE **/

.img {
    margin-left: auto;
    margin-right: auto;
    display: none;
    left: 80%;
    top: 15%;
    float: right;
    padding-right: 20px;
    padding-left: 40px;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 575px;
    height: 575px;
}

/** MOBILE DEVICE **/

@media only screen and (max-width: 600px) {
    .content {
        left: 10%;
        top: 10%;
        right: 10%;
        position: absolute;
        margin-top: 15px;
    }

    h1 {
        font-size: 45px;
        letter-spacing: 2.5px;
    }

    .img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 90%;
        padding-left: 10px;
    }
    
    section .img {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: 95%;
        padding-left: 0px;
    }


    header,
    header.sticky {
        padding: 5px 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #f9f6ef;
    }
  }

/** LOADING SCREEN **/

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f9f6ef;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  /** SPINNING BOX INSIDE OF LOADING SCREEN **/

/**

  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 7px solid #454545;
    animation: loader 2s infinite ease;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }

  **/