body {
    background-color: #f9f6ef;
    font-family: sofia-pro, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    letter-spacing: -0.3;
    color: #454545;
}

.content {
    left: 10%;
    top: 10%;
    right: 10%;
    position: absolute;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: inherit
}

::selection {
    background: #beebba;
}  

#wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    position: fixed;
}

.logo{
    width: 4vw;
}
.logo:hover{
    width: 4.3vw;
}

/** TEXT **/

h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #454545;
    font-weight: 900;
    letter-spacing: 2.8px;
    font-size: 3vw;
    line-height: 1;
    width: 80%;
    padding-bottom: 12px;
}

h2 {
    font-weight: 800;
    letter-spacing: 2.8px;
    font-size: 1.4vw;
    line-height: 1.4;
    margin-top: 45px;
    max-width: 600px;
    width: 80%;
    color: #beebba;
}

h3 {
    font-size: 1.7vw;
    font-weight: 300;
    line-height: 1.5;
}

h4 {
    font-size: 1.7vw;
    font-weight: 700;
    line-height: 1.5;
}

p {
    line-height: 1.5;
    font-size: 1vw;
    font-weight: 300;
    max-width: 600px
}

/** SECTIONS **/

.boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.inner {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

section {
    width: 60%;
    height: 20%;
    display: inline-block;
    border-radius: 4%;
    padding: 5vh 5vw 5vh 5vw;
    margin: 3vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

section .img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    padding: 0;
}

/** HIGHLIGHT TEXT EFFECT **/

highlight {
    background: linear-gradient(
        to bottom,
        transparent 65%,
        #beebba 0%
    );
}

highlight:hover{
    background: linear-gradient(
        to bottom,
        transparent 65%,
        #d6f3d3 0%
    );
}

/** LOADING SCREEN **/

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f9f6ef;
    display:flex;
    justify-content: center;
    align-items: center;
}

/** WORKS PAGE **/

.separator-big {
    height: 2px;
    background-color: #454545;
}

.works h4 {
    font-size: 1.7vw;
}

.works h3 {
    font-size: 1vw;
}

.works h2 {
    font-size: 1vw;
    margin: 0;
}

.works h1 {
    text-align: center;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/** CONSTRUCTION PAGE **/

.construction h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #454545;
    letter-spacing: 2.8px;
    font-weight: 800;
    font-size: 40x;
    line-height: 1;
    width: 80%;
    padding-bottom: 12px;
}

.portfolio-website img{
    width: 50%;
    height: 50%;
}

.portfolio-website h1{
    text-align: center;
}

/** HEADER **/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6vw;
    padding-top: 7vh;
    z-index: 1000;
}

header.sticky {
    background: #f9f6ef;
    padding-top: 2vw;
    padding-bottom: 2vh;
}

/** IMAGE **/

.img {
    margin-left: auto;
    margin-right: auto;
    left: 80%;
    top: 15%;
    float: right;
    padding-right: 20px;
    padding-left: 15px;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 37vw;
}

/** MOBILE DEVICE **/

@media only screen and (max-width: 600px) {
    .content {
        left: 10%;
        top: 10%;
        right: 10%;
        position: absolute;
        margin-top: 15px;
    }

    .logo {
        width: 10vw;
    }

    hr {
        border-top: 3px solid #454545; 
        width: 100px;
    }

    h1 {
        font-size: 10vw;
        letter-spacing: 2.5px;
    }

    h2 {
        font-size: 3.5vw;
    }

    h3 {
        font-size: 6vw;
    }

    p {
        font-size: 4vw;
    }

    .img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 90%;
    }
    
    .works .img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .works h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 10vw;
    }

    .works h4 {
        font-size: 5vw;
    }

    .works h2 {
        font-size: 4vw;
    }

    .works h3 {
        font-size: 5vw;
    }

    .construction .img {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 85%;
    }

    .construction h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
    }

    .works section {
        margin: 1vh 0 2vh 0;
        padding: 8vw;
    }

    .works .inner {
        display: flex;
        flex-direction: column-reverse;
        gap: 3vw;
    }

    header,
    header.sticky {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #454545;
        padding: 5px 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #f9f6ef;
    }
  }