@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;
    background: #5CDB95;
}

color {
    color: #5CDB95;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 1000;
}

header.sticky {
    padding: 5px, 50px;
    background: #5CDB95;
}

header .logo {
    position: relative;
    font-weight: 900;
    color: #EDF5E1;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    transform: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #EDF5E1;
    letter-spacing: 2px;
    font-weight: 300;
}

header.sticky .logo, header.sticky ul li a {
    color: #EDF5E1;

}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 5s;
}

.banner h2 {
    color: #EDF5E1;;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    
}

.sec {
    background: #EDF5E1;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abtclr {
    background: #23272a;
    color: #fff;
}



.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #5CDB95;
    text-decoration: none;
    color: #EDF5E1;
}

.skills {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.skills .box {
    width: 200px;
    margin: 0 auto;
    background: #EDF5E1;
    padding: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

.skills .box .iconBx {
    margin-top: 25px;
}

.skills .box .iconBx img {
    max-width: 70px;
    margin-bottom: 15px;
}

.skills .box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-align: left;
    padding: 30px 60px 30px;
    background: #5CDB95;
    
}

.footer ul {
    color: #38855a;
    list-style-type: none;
    font-size: 17px;
}

.toggle {
    display: none; 
}
@media (max-width: 600px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #EDF5E1;
        z-index: 1;
        box-shadow: 0 10px 0 #EDF5E1;
        transition: 0.5s;
    }
    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #EDF5E1;
        z-index: 1;
        transition: 0.5s;
    }
header,
header.sticky {
    padding: 5px 50px;
    background: #5CDB95;
    
}
header ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background: #5CDB95;
    visibility: hidden;
    opacity: 0;
}
header.active ul{
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
}

header.active ul li a{
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
}

header .logo,
header ul li a{
    color: #EDF5E1;
}
    .banner h2 {
        font-size: 60px;
        padding: 0 25px;
    }
    .sec {
        padding: 100px 50px 50px 50px;
    }
}
